<div class="container-fluid footer-app bg-light">
    <div class="container">
      
      <div class="row justify-content-between">
        <div class="col-sm-6 right-section">
          <div class="row">
            <div class="col-sm-12 pt-3">
              
            </div>
            <div class="col-sm-12 text-start d-none d-sm-block">
              <p class="text-subtitle pt-3">
                T.Mutero &copy; 2024
              </p>
            </div>
          </div>
        </div>
       
        
  
       
      </div>
    </div>
  </div>
  